---
layout: default
section_id: home
slides:
  - bg: images/@stock/slide-2.jpg
    title:
      text: Forward Pledge is a public commitment to foster inclusive teams
      animation: bottom-to-top
      class: large-8 medium-11
    buttons:
      animation: bottom-to-top
      class: medium-12
      items:
        - text: Make your pledge now
          url: /contact
          class: boxed
  - bg: images/@stock/slide-3.jpg
    title:
      text: It is simple but powerful
      animation: bottom-to-top
      class: large-7 large-offset-5 medium-9 medium-offset-3
    buttons:
      animation: bottom-to-top
      class: large-7 large-offset-5 medium-9 medium-offset-3
      items:
        - text: Make your pledge now
          url: /contact
          class: boxed
  - bg: images/@stock/slide-6.jpg
    buttons:
      animation: bottom-to-top slow
      class: large-12
      items:
        - text: See other pledges
          url: http://themeforest.net/user/honryou/portfolio?ref=honryou
          class: boxed
        - text: Make your pledge now
          url: /contact
    infos:
      - text: "&nbsp;Industry standard pledges"
        animation: bottom-to-top
      - text: "&nbsp;Many helpful tools"
        animation: bottom-to-top
      - text: "&nbsp;Simple but powerful statements"
        animation: bottom-to-top
      - text: "&nbsp;Endorsed by LPs"
        animation: bottom-to-top
boxes:
  - icon_class: fa fa-trophy
    title: Niniane Wang, Susan Ho, and Leiti Hsu
    text:
      For their <a href="https://www.theinformation.com/silicon-valley-women-tell-of-vcs-unwanted-advances?unlock=90c1b7a501e05ae8&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1MDA3MTcwNTYsInN1YiI6Im1lZ2FuQHNwYXJrY2FwaXRhbC5jb20iLCJwZXJtcyI6WyJlbWFpbCJdfQ.4AQ-fJEnNEs4Ba0rX07jTFBU-Shxc9UsYVuAjnncCdQ">whistleblowing to The Information</a>
  - icon_class: fa fa-compass
    title: Reid Hoffman
    text:
      For his <a href="https://www.linkedin.com/pulse/human-rights-women-entrepreneurs-reid-hoffman">#DecencyPledge</a>
  - icon_class: fa fa-star-half-empty
    title: Cheryl Yeoh Sew Hoy
    text:
      For her <a href="https://cherylyeoh.com/2017/07/03/shedding-light-on-the-black-box-of-inappropriateness/">level classifications of harassment and assault</a>
  - icon_class: fa fa-dot-circle-o
    title: Kapor Capital
    text:
      For their <a href="http://www.kaporcapital.com/founders-commitment/">Founders' Commitment</a>
milestones:
  - from: 0
    to: 12
    title: VCs submitted Pledges
  - from: 0
    to: 34
    title: LP Signatories

testimonials:
  - text: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: Jennifer White
    position: Venture Capitalist
  - text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: Jennifer White
    position: Endowment Director
  - text: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: Jennifer White
    position: Entrepreneur

LP Signatores:
  - images/@stock/client-1.png
  - images/@stock/client-2.png
  - images/@stock/client-3.png
  - images/@stock/client-4.png
  - images/@stock/client-5.png
  - images/@stock/client-6.png

---

<div class='advanced mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          <li class='current'></li>
        {% else %}
          <li></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          {% assign class = "static" %}
        {% else %}
          {% assign class = '' %}
        {% endif %}

        <li class='frame {{class}}'>
          <div class='bg' style='background-image: url({{slide.bg}});'></div>
          {% if slide.infos %}
            {% for info in slide.infos %}
              <div class='info{{forloop.index}} {{info.animation}}' style=''>
                <div class='row'>
                  <div class='medium-10 large-8 columns'>
                    <p class='fa fa-check' style='color: #333;'>{{info.text}}</p>
                    <div class='spacing'></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class='title {{slide.title.animation}}' style='color: rgb(255, 255, 255);'>
              <div class='row'>
                <div class='{{slide.title.class}} columns'>
                  <h2>{{slide.title.text}}</h2>
                </div>
              </div>
            </div>
          {% endif %}
          <div class='buttons-wrapper {{slide.buttons.animation}}' style=''>
            <div class='row'>
              <div class='{{slide.buttons.class}} columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a target="_blank" class='button {{button.class}}' href='{{button.url}}'>{{button.text}}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4 style='color: #999'>Our history</h4>
      <h2>A template for investor/founder sexual harassment policy</h2>
      <div class='spacing'></div>
      <p>This policy template is a collaborative effort by a group of whistleblowers, investors, founders, and activists, <a href="https://techcrunch.com/2017/07/05/harassment-policy-template/">compiled by TechCrunch</a>. The full list of contributors can be found below.</p>

      <p> Venture capitalists need to adopt formal policies to protect startup founders from sexual harassment, assault, and discrimination throughout the fundraising process. The policy template below was created to facilitate the creation of comprehensive, enforceable investor/founder sexual harassment policies. It also seeks to lower the barrier so <a href="https://techcrunch.com/2017/07/02/silicon-valley-blacklist/">more people can courageously speak up</a> against their harassers without fear of retaliation.</p>

      <p> We hope to see all VC firms draw from this template to formalize their own binding policies, establish them with urgency, and consistently follow-through with ejecting or punishing staff that violate them.</p>

      <p>It’s important to acknowledge that this is merely a jumping off point that should help generate conversation and, more importantly, action on the part of firms and founders. The long-term ability of people in power to impact the quality of life of entrepreneurs, employees and users is worthy of more discussion.</p>

      <p><i>[For more on how firms can ensure fair enforcement, and how this cultural shift towards decency can avoid causing a chilling effect on fundraising for female-led startups, check out TechCrunch editor Josh Constine’s accompanying op-ed “The need for industry-wide investor/founder harassment policy.” Constine also coordinated, compiled and edited the information contributed to this template. -Ed.]</i></p>

      <p>Founders should expect and push their investors or those they consider partnering with to have made a clear commitment to eliminating harassment. Those looking to support this drive can share this template with the hashtag #HarassmentPolicy. </p>
    <h2>Purpose And Context</h2>
      <ui> 
        <li> Declaration of the goal to eliminate sexual harassment and discrimination in startup funding</li>
        <li>Statement of values regarding why protecting founders from harassment by investors is necessary due to the imbalanced power dynamic </li>
        <li> Explanation that standard  sexual harassment law does not adequately cover the investor/founder relationship, so voluntary policy is needed </li>
        <li>Recognition that harassment and discrimination perpetrators and recipients can be of any gender or identity, though most often women are harassed by men </li>
        <li> Discussion of the need for a culture of explicit consent</li>
        <li>Encouragement of founders and LPs to demand formal sexual harassment policy from investors with whom they work</li>
        <li> Note that meetings after-hours or in informal locations are part of the fundraising process, and that typical sexual harassment policies do not prohibit appropriate contact in these settings</li>
        <li>Acknowledgement that startups also need strong internal sexual harassment and discrimination policies</li>
        <li>Context that fixing sexual harassment and discrimination is part of a larger need to address all kinds of discrimination and harassment in the technology and startup industry, including sexism, racism, ageism, and ableism</li>
      </ui>
    <div class='spacing'></div>
    <h2>Investor/Founder Sexual Harassment And Discrimination Policy</h2>
      <ui> 
        <li>Zero-tolerance for investors overtly sexually assaulting, harassing, or discriminating against founders or their teams</li>
        <li>Stern punishment for other violations of the policy</li>
        <li>Scope of those bound by the policy that beyond investmentpartners may include any investment decision makers including VC firm staff, advisors, scouts, board members, or anyone else that could retaliate against a founder, or influence the funding decision about a startup</li>
        <li>Scope of those protected by the policy beyond founders receiving investment, including founders who pitch or discuss potential investment with the firm, their fundraising teams, and potentially all staff, plus anyone the firm tries to recruit to their portfolio companies</li>
      </ui>
    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
    <h2>VC Policies on Discrimination and Sexual Harassment
</h2>
    <p>Firms listed in alphabetical prder</p>
    <table style="width:100%">
      <tr>
        <th>VC Firm</th>
        <th>Has an anti-harassment policy? List link if public.</th> 
        <th>Has anti-discrimination policy?</th>
        <th>Have an experience you want to talk about? Firm's Point of Contact</th>
        <th>Contact Type</th>
      </tr>
      <tr>
        <td>FlyBridge Capital</td>
        <td>Yes, <a href="https://medium.com/nevca-policy-brief/nevca-statement-on-discrimination-and-sexual-harassment-a541afaa92e0">public link</a></td> 
        <td>Yes, <a href="https://medium.com/nevca-policy-brief/nevca-statement-on-discrimination-and-sexual-harassment-a541afaa92e0">public link</a></td> 
        <td>Jeff Bussgang (jeff@flybridge.com)</td>
        <td>Firm Partner</td>
      </tr>
      <tr>
        <td>YOU!</td>
        <td>TBC</td> 
        <td>TBC</td>
        <td>TBC</td>        
        <td>TBC</td>
      </tr>
    </table>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>LP Signatories</h2>
      <p>As LPs, we review at this list before allocating capital:</p>
      <ul>
        <li>TBD</li>
        <li>TBD</li>
        <li>TBD</li>
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns right-border left-border'>
        <div class='mod modMilestone no-icon'>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>Special Thanks For Inspiration</h2>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes'>
          {% for box in page.boxes %}
            <div class='box' style=''>
              <i class='{{box.icon_class}}'></i>
              <h4>{{box.title}}</h4>
              <p>{{box.text}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full no-padding' style='background: #444; color: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Like what you see here? Submit your forward pledge.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='boxed button' href='/constact'>Make your pledge</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for t in page.testimonials  %}
                <div class='item'>
                  <p class='quote'>{{t.text}}</p>
                  <p class='author'>- {{t.author}}, {{t.position}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
<div class='full parallax' style='background-image: url(../images/@stock/customers-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for client in page.clients %}
            <div><img alt="" src="{{client}}" /></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>




