/***** MOBILE FIRST *****/
* {
	box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

.full-container {
  height: 100%;
}

.content-container {
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
}

/* HEADER STYLES */
.header {
  /* background-image: url("../img/Rectangle.jpeg"); */
  background-color: #135889;
  /* height: 800px;  */

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin: 20px;
  width: 300px;
}

.header-logo img {
  width: 100%;
}

.header-menu {
  margin: 0 20px;
  width: 50px;
}

.header-menu img {
  width: 100%;
}

/* INTRO STYLES */
.intro-container {
  /* background-image: url("../img/Rectangle.jpeg"); */
  background-color: #135889;
  height: 800px; 

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.intro-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.intro-statement {
  font-family: Helvetica, sans-serif;
  font-size: 36px;
  color: white;
  margin-bottom: 50px;
}

.intro-buttons {
  display: flex;
}

.arrow-container {
  text-align: center;
}

/* BUTTONS */
.button {
  color: white;
  border: white solid 3px;
  padding: 10px;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

.learn-more-button {
  margin-right: 50px;
}

.view-all-button {
  color: black;
  border: black solid 5px;
  width: fit-content;
  margin: 100px auto;
}

/* SECTION */
.section-container {
  width: 100%;
  margin: 50px 0;
}

.section-header {
  font-family: Helvetica, sans-serif;
  font-size: 36px;
}

.section-content {
  font-family: Times, serif;
  font-size: 24px;
}

/* LOGO GALLERY */
.logo-container {
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.column {
  padding: 5px;
  margin-right: 30px;
  width: 100%;
}

.column img {
  margin-top: 50px;
  width: 100%;
}

/******** FOR MID SCREEN *********/
@media only screen and (min-width: 768px) {
  .intro-content {
    width: 66.67%;
  }

  .intro-statement {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .column {
    width: 40%;
  }
}

/***** FOR FULL SCREEN *****/
@media only screen and (min-width: 996px) {
  .content-container {
    margin-left: 150px;
    margin-right: 150px;
  }

  .intro-container {
    padding-top: 120px;
  }

  .intro-content {
    width: 66.67%;
  }

  .intro-statement {
    font-size: 64px;
    margin-bottom: 125px;
  }

  .button {
    border: white solid 5px;
    padding: 10px;
    font-size: 36px;
  }

  .view-all-button {
    color: black;
    border: black solid 5px;
  }

  /* SECTION */
  .section-container {
    margin: 150px 0;
  }

  .section-header {
    font-size: 48px;
  }

  .section-content {
    font-size: 36px;
  }

  .column {
    width: 20%;
  }

}